# REQUIREMENTS
Write a small app that takes an integer and return a string representation of that integer with commas separating
groups of 3 digits. For example:
```python
print translate (1234)
'1,234'
print translate (123456789)
'123,456,789'
```

## NOTES
• Use Python as programming language.

• Input/output methods doesn’t matter.

In [1]:
import sys

In [2]:
def translate (intValue):
    """Function translate takes an integer and return a string representation of 
    that integer with commas separating groups of 3 digits.

    Args:
        intValue (int): The integer parameter to be translated.

    Returns:
        str: The return value with commas.
        
    Raises:
        ValueError: If intValue is not an integer.
    
    """

    try:
        int(intValue)
    except ValueError:
        print("Error: Input is not an integer")
        sys.exit(1)
    
    # integer input is transformed into string
    strValue = str(intValue)
    # total length of tranformed string
    totLen = len(strValue)
    # separating groups of 3 digits
    groupSize = 3
    # string result with commas to be returned
    result = ''
    
    # loop over strValue to build result adding commas
    for i, c in enumerate(strValue):
        # digit is added to result
        result = result+c
        # comma is added between groups of 3 digits except at the end
        if((totLen-1-i)%groupSize == 0 and i != totLen-1):
            result = result+','
            
    return result

In [3]:
translate (12345678)

'12,345,678'

In [14]:
translate ("12345a")

Error: Input is not an integer

SystemExit: 1

In [5]:
import re

In [6]:
strnumber='1234'

In [7]:
re.sub(r'(?<=\d)(?=(\d\d\d)+(?!\d))', ',', strnumber)

'1,234'

In [8]:
strnumber='123456789'

In [9]:
re.sub(r'(?<=\d)(?=(\d\d\d)+(?!\d))', ',', strnumber)

'123,456,789'

In [10]:
def translate_regex (intValue):
    """Function translate takes an integer and return a string representation of 
    that integer with commas separating groups of 3 digits using regular expression.

    Args:
        intValue (int): The integer parameter to be translated.

    Returns:
        str: The return value with commas.
    
    Raises:
        ValueError: If intValue is not an integer.
        
    """

    try:
        int(intValue)
    except ValueError:
        print("Error: Input is not an integer")
        sys.exit(1)
    
    # integer input is transformed into string
    strValue = str(intValue)
    # string result with commas to be returned
    result = ''
    
    # comma is added between groups of 3 digits except at the end using regex
    result = re.sub(r'(?<=\d)(?=(\d\d\d)+(?!\d))', ',', strValue)
    
    return result

In [11]:
translate_regex (1234)

'1,234'

In [12]:
translate_regex (123456789)

'123,456,789'

In [13]:
translate_regex ('12345678a')

Error: Input is not an integer

SystemExit: 1